name: truthiness

services:
  docker-react:
    build:
      context: ./web
      dockerfile: dockerfile
      target: production  # Ensure that it uses the production stage of the Dockerfile
    container_name: react-app
    environment:
      - VITE_REST_ADDR=http://localhost:8080
    depends_on:
      - docker-truthiness
      - docker-mongo
    ports:
      - "5173:80"  # Map the React app from port 3000 to our nginx server on port 80

  docker-truthiness:
    container_name: rest-server
    build:
      context: ./backend
    depends_on:
      - docker-mongo
    deploy:
      restart_policy:
        condition: on-failure
    environment:
      - STORAGE_TYPE={$STORAGE_TYPE:-MONGODB}
      - DB_ADDR={$DB_ADDR:-mongodb://mongo-db:27017}
    hostname: rest-server
    networks:
      - backend-network
    ports:
      - 8080:8080

  docker-mongo:
    container_name: mongo-db
    environment:
      - MONGODB_INITDB_ROOT_USERNAME={$MONGODB_INITDB_ROOT_USERNAME}
      - MONGODB_INITDB_ROOT_PASSWORD={$MONGODB_INITDB_ROOT_PASSWORD}
    hostname: mongo-db
    image: mongo
    networks:
      - backend-network
    ports:
      - 27017:27017
    volumes:
      - mongovol:/data/db

volumes:
  mongovol:
    driver: local

networks:
  backend-network:
    driver: bridge